@import './_variables';
@import './_mixins';
@import './_placeholders';

// Mixins not used in this document, some examples remains and could be used for further applications


// Utilities

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
    margin: 0 auto;
}

main {
    max-width: 1400px;
    margin: auto;
    // desktop view max size

}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
        // smooth scroll using in-pages links
    }
}

* {
    padding-inline-start: unset;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', 'Shrikhand', sans-serif;
    margin: unset;
}

a {
    cursor: pointer;
    z-index: 100; // necessary for card links for example
    color: inherit;
}

i {
    font-style: unset;
}

p {
    font-size: 16px;
}

// PRELOADER

.preloader {
    position: fixed;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background-color: $background-main; // see '_variables.scss' for theme colors and box shadow
    @extend %flex-center;
    animation: preloader ease-in forwards 2s;
    // background

    &__element {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 50px;
        width: 50px;
        margin: -25px 0 0 -25px;
        border: 3px solid transparent;
        border-top-color: $pink;
        border-bottom-color: $purple;
        border-radius: 50%;
        animation: preloader__element 1s linear infinite;
        // borders

        &:after {
            content: "";
            position: absolute;
            top: 5px;
            right: 5px;
            bottom: 5px;
            left: 5px;
            border: 5px solid transparent;
            border-radius: 50%;
            background: $gradient;
            // disc
        }
    }
}

@keyframes preloader {
    25% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        z-index: -1;
    }

    // backgound
}

@keyframes preloader__element {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }

    // element
}

// Heading

.header--primary {
    @extend %flex-center; // see '_placeholders.scss' --> display flex + align center + justify center
    position: sticky;
    top: 0;
    z-index: 1001;
    background-color: white;
    width: 100%;
    height: 60px;

    & a {
        display: flex;
    }

    &::after {
        position: absolute;
        content: '';
        display: block;
        box-shadow: $shadow-main;
        width: 100%;
        height: 60px;
    }

    &__logo {
        height: 30px;
    }
}

// Main

.location {
    position: relative;
    // absolute elements easily placed after a relative parent
    height: 50px;
    width: 100%;
    @extend %flex-center;
    background-color: $background-location;

    &__icon {
        margin-right: 15px;
    }

    &-dropdown {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;

        &__icon {
            z-index: 1;
            cursor: pointer;
            position: absolute;
            text-align: center;
            left: 80%;
            bottom: 30%;
            width: 20px;
            height: 20px;
            box-shadow: $shadow-main;
            border-radius: 25px;
            transform: rotateZ(0);
            transition-duration: 0.4s;
            font-size: 18px;
        }

        &-menu {
            cursor: pointer;
            position: absolute;
            @extend %flex-center;
            gap: 15px;
            background-color: $background-main;
            opacity: 0.95;
            width: 100%;
            height: 100%;
            transform: translateY(100%);
            transition: ease-out 0.4s;

            &__icon {
                color: blue;
            }
        }

        &:hover & {

            // this kind of code will appear further in this file
            // providing the possibility to nest all :hover properties
            &__icon {
                transform: rotateZ(90deg);
            }

            &-menu {
                transform: translateY(0);
            }
        }
    }
}

// heading main part

.heading--primary {
    z-index: 1;
    background-color: $background-main;

    &-container {
        @extend %flex-center;
        flex-direction: column;
        @extend %padding-inline;
        @extend %padding-vertical;

        &__h1 {
            @extend %text-center;
            font-size: 22px;
            font-weight: 900;
            padding-inline: 30px;
        }

        &__p {
            @extend %text-center;
            margin-top: 10px;
        }
    }
}

// heading button

.button {
    cursor: pointer;
    position: relative;
    border: none;
    box-shadow: $shadow-main;
    transition: ease-out .2s;

    &:hover {
        box-shadow: $shadow-main--modifier;
    }

    // button are seperated for readability but most of the time will use this class

    &__heading {
        overflow: hidden;
        @extend %flex-center;
        width: fit-content;
        border-radius: 50px;
        background: $gradient;
        height: 45px;
        padding-inline: 20px;
        margin-top: 30px;
        color: white;

        &:hover {
            filter: brightness(120%);
        }
    }
}

// intro "Fonctionnement" container

.intro {
    @extend %padding-inline;
    @extend %padding-vertical;
    background-color: white;

    &-container {
        @extend %padding-inline;
        margin-top: 20px;
        @extend %flex-column;
        @extend %gap;
    }
}

// intro button

.button__intro {
    cursor: default;
    @extend %flex-center--modifier;
    width: 100%;
    height: 60px;
    background-color: $background-main;
    @extend %radius-main;
    font-weight: 600;

    &__nbr {
        z-index: 1;
        position: absolute;
        @extend %flex-center;
        left: -3%;
        background-color: $purple;
        color: white;
        width: 25px;
        height: 25px;
        font-size: 12px;
        @extend %radius--modifier;
    }

    &__icon {
        color: #7C7C7C;
        font-size: 16px;
        width: 15%;
        padding-left: 4%;
        transition-duration: 0.4s;
    }

    &:hover {
        background-color: $salmon;
    }

    &:hover &__icon {
        color: $purple;
    }

}

// card container

.main-card {
    background-color: $background-main;
    padding-bottom: 40px;

    &-heading {
        @extend %padding-inline;
        @extend %padding-vertical;
    }

    &-list {
        @extend %flex-center--modifier;
        flex-direction: column;
        margin-top: 20px;
        @extend %gap;
    }
}

// card element

.card {
    @extend %radius-main;
    box-shadow: $shadow-main;
    aspect-ratio: 4/3;
    width: 100%;
    overflow: hidden;
    transition-duration: 0.2s;

    &:hover {
        box-shadow: $shadow-main--modifier;
        animation: card__wiggle ease-out 0.4s;
        // shake animation called card__wiggle
        // keyframes of animations coded after element properties
    }

    &-image-container {
        height: 70%;
        position: relative;

        &__image {
            width: 100%;
        }

        &__absolute-el {
            // "Nouveau"
            @extend %flex-center;
            position: absolute;
            padding: 2%;
            padding-inline: 4%;
            font-weight: 700;
            top: 5%;
            right: 5%;
            background-color: $light-green;
            color: rgba(0, 0, 0, .4);
            border-radius: 2px;
        }
    }

    &-body {
        @extend %flex-center--modifier;
        position: relative;
        background-color: white;
        height: 30%;

        &-container {
            @extend %flex-column;
            height: 100%;
            width: 80%;

            &__h3,
            &__p {
                @extend %flex-center--modifier;
                @extend %flex-start;
                @extend %padding-inline;
                height: 100%;
            }
        }
    }
}

@keyframes card__wiggle {
    0% {
        transform: translateX(-2px);
    }

    25% {
        scale: 1.05;
    }

    50% {
        transform: rotate(-2deg);
    }

    75% {
        transform: translateX(2px);
    }

    100% {
        transform: rotate(0deg);
        scale: 1;
    }
}

// card button "like"

.button__card__like {
    border: unset;
    padding: unset;
    position: relative;
    width: 20%;
    height: 100%;
    background: transparent;
    cursor: pointer;

    &__icon {
        z-index: 1;
        display: contents;
        font-size: 30px;
        opacity: 1;
        transition: ease-out 0.6s;

        &--modifier {
            position: absolute;
            display: flex !important;
            @extend %flex-center;
            width: 100%;
            height: 100%;
            bottom: 0;
            font-size: 0;
            transition: ease-in 0.4s;
            background: $gradient;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            scale: 1;
            transition-duration: 0.4s;
        }
    }

    &:hover {

        .button__card__like__icon--modifier {
            font-size: 30px;
            animation: wiggle 0.3s 0.35s;
            // shake animation called wiggle
        }

        .button__card__like__icon {
            opacity: 0;
        }
    }

    &:active &__icon--modifier {
        scale: 1.3;
    }
}

// shake animation keyframes

@keyframes wiggle {
    0% {
        transform: rotate(10deg);
    }

    15% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(10deg);
    }

    45% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    90% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.footer {
    @extend %flex-center--modifier;
    @extend %flex-baseline;
    flex-direction: column;
    padding-inline: 10%;
    @extend %padding-vertical;
    background-color: $background-footer;
    color: white;
    gap: 5px;

    &__logo {
        height: 20px;
        padding-bottom: 15px;
    }

    &-container {
        @extend %flex-center--modifier;
        color: white;

        &__icon {
            @extend %text-center;
            margin-right: 5px;
            width: 20px;
            font-size: 14px;

            &--modifier {
                @extend .footer-container__icon;
                transform: rotate(135deg);
            }
        }
    }

    &__links {
        color: white;
    }
}

// other pages

// header

.header--secondary {
    @extend .header--primary;

    &__logo {
        @extend .header--primary__logo;
    }

    &__return-button {
        cursor: pointer;
        position: absolute;
        left: 5%;
        top: 30%;
        z-index: 1;
        font-size: 24px;
        transition-duration: 0.4s;

        &:hover {
            transform: translateX(-5px);
        }
    }

}

.heading--secondary {
    width: 100%;

    &-container {
        @extend %flex-center;
        flex-direction: column;
        position: relative;

        &__image {
            width: 100%;
        }

        &-body {
            @extend %flex-center;
            @extend %flex-start;
            position: absolute;
            bottom: -2px;
            width: 90%;
            background-color: $background-main;
            @extend %padding-inline;
            border-radius: 50px 50px 0 0;
            padding-top: 30px;

            &__h1 {
                width: 80%;
                font-family: 'Shrikhand';
                font-style: italic;
            }

            & .button__card__like:active .button__card__like__icon--modifier {
                scale: 1;
            }
        }
    }

    &__icon {
        @extend .button__card__like;
    }
}

// container card menu

.menu-card {
    background-color: $background-main;
    @extend %padding-inline;
    transform: translateY(-1px);
    padding-top: 20px;

    &-list {
        @extend %flex-center--modifier;
        flex-direction: column;
        align-items: flex-start;
        @extend %gap;

        &__h2 {
            position: relative;
            font-weight: 300;
            font-variant: all-small-caps;

            &::after {
                content: "";
                position: absolute;
                width: 40px;
                height: 3px;
                bottom: 0;
                transform: translateY(6px);
                left: 0;
                background-color: $light-green;
            }
        }

    }
}

// menu elements

.button__menu {
    @extend %flex-column;
    background-color: white;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    height: 60px;
    @extend %radius-main;
    gap: 3%;
    transition-duration: 0.4s;

    & h3,
    & p {
        white-space: nowrap;
        overflow: hidden;
        /* Text Ellispsis properties set directly (used as parents I guess) on html elements in order to work */
    }

    &__h3,
    &__p {
        height: 50%;
        padding-top: 1%;
        transition-duration: 0.6s;
        width: 70%;
        text-align: initial;
        padding-left: 5%;
        text-overflow: ellipsis; // '...'
        transition-duration: 0.6s;
        transition-delay: 0.25s;
    }

    &__h3 {
        font-size: 18px;
        font-weight: 600;
    }

    &__p {
        font-size: 16px;
        font-weight: 400;
    }

    &__price {
        position: absolute;
        right: 6%;
        bottom: 6px;
        font-size: 16px;
        font-weight: 600;
        transform: translateX(0);
        transition-delay: 0.15s;
        transition-duration: 0.5s;
        z-index: 1;
    }

    &__icon {
        // used as a container
        display: flex !important;
        /* Necessary */
        align-items: center;
        justify-content: center;
        position: absolute;
        padding: unset;
        right: 0;
        bottom: 0;
        color: white;
        font-size: 22px;
        width: 15%;
        height: 100%;
        background-color: $light-green;
        border-radius: 0 15px 15px 0;
        transform: translateX(100%);
        transition-duration: 0.5s;

        &::before {
            // target the icon
            transform: rotateZ(0deg);
            transition: transform 0.7s;
            animation-fill-mode: forwards;
        }
    }

    &:hover {
        box-shadow: $shadow-main--modifier;
    }

    &:hover & {

        &__h3,
        &__p {
            width: 60%;
        }

        &__price {
            right: 18%;
        }

        &__icon {
            transform: translateX(0);

            &::before {
                transform: rotateZ(360deg);
            }
        }
    }

    // displaying menu when page load
    animation: loading cubic-bezier(0.38, 0.62, 0.72, 0.99) forwards 0.5s;
}


@for $i from 2 through 14 {
    .menu-card-list .button__menu:nth-child(#{$i}) {
        animation-delay: $i * 0.2s;
    }

    // adding delay after each element display
}

@keyframes loading {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }
    30% {
        opacity: .3;
    }

    65% {
        opacity: .7;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

// Order button "commander" container

.calltoaction {
    background-color: $background-main;
    @extend %padding-inline;
    padding-bottom: 30px;
    @extend %flex-center;
}

.button__calltoaction {
    @extend .button__heading;
    width: 60%;
}

// MOBILE FIRST RESPONSIVE QUERIES

// singular queries for this project design

@media screen and (min-width: 600px) {

    // index.html

    .intro-container {
        padding-inline: 10%;
    }

    .main-card {
        //background-color: #EAEAEA;
        position: relative;

        &-heading::after {
            content: "";
            position: absolute;
            display: block;
            height: 65%;
            right: 5%;
            top: 20%;
            bottom: 0;
            width: 20px;
            box-shadow: inset -28px 0 30px -43px #000;
        }

        &-list {
            margin-top: 30px;
            flex-direction: row;
            overflow-x: scroll;
            gap: 1%;
        }
    }

    .card {
        margin: 2%;
        min-width: 250px;
    }

    // other pages

    .heading--secondary-container {
        max-height: 275px;
        overflow: hidden;
    }

    .heading--secondary-container-body {
        z-index: 1000;
    }
}

@media screen and (min-width: 900px) {

    // index.html

    .intro {
        padding-top: 50px;
        padding-bottom: 50px;

        &-container {
            margin-top: 30px;
            flex-flow: row;
            gap: 5%;
            padding-inline: unset;
        }
    }

    // other pages

    .heading--secondary-container {
        max-height: 600px;

        &-body {
            justify-content: center;

            &__h1 {
                width: 50%;
                font-size: 32px;
            }

            & .button__card__like {
                width: 10%;

                &__icon {
                    font-size: 32px;
                }
            }
        }
    }


    .menu-card {
        padding-top: 60px;
        padding-inline: 20%;
    }

    .calltoaction__button {
        margin-top: 40px;
    }
}